.bg-navbar {
    background-color: #FFF;
    box-shadow:       0 2px 4px rgba(0, 0, 0, 0.25);
    padding:          0.5rem 1rem;
    position:         fixed;
    top:              0;
    width:            100%;
    z-index:          1;
}
.navbar-height{
    z-index: 999999999999999999999999999;
}